mat-toolbar button{
    margin: 5px;
}
.menu button{
    position: relative;
    float: right;
}
.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }
  picture{
    height: 5px;
    width: 6px;
  }