<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Booking App</span>
  <span class="example-spacer"></span>
 
  <!-- menu section -->
 
    <button mat-raised-button color="warn" routerLink ="/login" routerLinkActive="active" >LOGIN</button>
    <button mat-raised-button color="accent" routerLink ="/signup" >REGISTER</button>
  <!-- </ng-template> -->
  <!-- <mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Login </button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->
</mat-toolbar>


