<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink="/"
  >
    <mat-icon routerLink="/">home</mat-icon>
  </button>

  <span style="margin-left: 10px"
    >Student Examination and Admit Card Management &nbsp;(Govt of Bihar)</span
  >

  <div class="menu">
    <button
      mat-raised-button
      color="accent"
      routerLink="/login"
      routerLinkActive="active"
    >
      STUDENT LOGIN
    </button>
  </div>
</mat-toolbar>
