<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">REGISTER </mat-toolbar>
    <mat-card>
      <form >
        <!-- [formGroup]="registerForm" (ngSubmit)="registration()" method="post" -->
        <mat-form-field>
          <mat-icon matPrefix>people</mat-icon>
          <input autofocus type="text" matInput formControlName="FirstName"  name="FirstName"  matInput placeholder="FirstName *" />
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="text"  name="LastName" matInput formControlName="LastName" matInput placeholder="LastName *" />
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <input autofocus type="number"  name="PhoneNumber" matInput formControlName="PhoneNumber" matInput placeholder="PhoneNumber *" />
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <input autofocus type="email" name="email" matInput formControlName="email" matInput placeholder="Email *" />
        </mat-form-field>
        <!-- <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="file" name="file" formControlName="file" matInput placeholder="fileUpload *" />
        </mat-form-field> -->
        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input
            type="password"
            autocomplete="false"
            matInput
            placeholder="Password *"
            matInput
            formControlName="password"
          />
          <mat-hint
            >Choose a password of at least eight characters, one uppercase
            letter and one number</mat-hint
          >
        </mat-form-field>
        <hr />
        <div class="socialMediaFlex">
          <button
            style="width: 50%"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
