<form>
  <div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">Login</mat-toolbar>
      <mat-card>
        <form #loginForm="ngForm" (ngSubmit)="save(loginForm.value)">
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input
              autofocus
              type="text"
              matInput
              placeholder="UserName"
              name="username"
              ngModel
            />
          </mat-form-field>

          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input
              type="password"
              autocomplete="false"
              matInput
              placeholder="Password"
              name="password"
              ngModel
            />
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">LOGIN</button>
          <span class="mt-5">
            If You forgot Password Please &nbsp;
            <a routerLink="/forgotpassword">FORGOT PASSWORD</a></span
          >
        </form>
        <span>
          If You don't have a account yet please
          <a routerLink="/registration">REGISTER HERE</a></span
        >
      </mat-card>
    </div>
  </div>
</form>
