mat-spinner {
    margin: auto;
  }
  
  mat-error {
    text-align: center;
    margin-top: 1rem;
  }
  
  mat-form-field {
    min-width: 20rem;
  }
  
  .success-message {
    margin-top: 1rem;
    white-space: normal;
    text-align: center;
    max-width: 15rem;
  }

  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }