<mat-card>
  <mat-card-title>Forgot Password</mat-card-title>

  <form fxLayout="column">
    <mat-card-content>
      <form>
        <p>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Enter Username"
              formControlName="username"
            />
          </mat-form-field>
        </p>

        <div class="button">
          <button type="submit" mat-button mat-raised-button color="warn">
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </form>
</mat-card>

<mat-card style="margin-left: 10px">
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="New Password"
            formControlName="username"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Confirm Password"
            formControlName="password"
          />
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" mat-button mat-raised-button color="warn">
          Submit
        </button>
        &nbsp;&nbsp;
        <button type="submit" mat-button mat-raised-button color="warn" routerLink="/login">
          Back to Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
