<section class="container-fluid">
  <mat-card style="margin-top: 10px">
    <mat-form-field appearance="fill" class="mat-form-field">
      <mat-label>Select one of issue</mat-label>
      <mat-select panelClass="option-panel">
        <mat-option>Login issue</mat-option>
        <mat-option>Admitcard Related issue</mat-option>
        <mat-option>Others</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</section>
<section class="container-fluid">
  <mat-card style="margin-top: 5px">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Please enter your name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mobile</mat-label>
        <input matInput placeholder="Please enter your mobile no" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Please enter your email" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Application Acknowledgement</mat-label>
        <textarea matInput placeholder="Enter Acknowledgements"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Enter Description"></textarea>
      </mat-form-field>
      <button
        _ngcontent-ihl-c115=""
        mat-raised-button=""
        color="accent"
        routerlink="/login"
        routerlinkactive="active"
        class="mat-focus-indicator mat-raised-button mat-button-base mat-accent"
        ng-reflect-color="accent"
        tabindex="0"
        ng-reflect-router-link="/login"
        ng-reflect-router-link-active="active"
      >
        <span class="mat-button-wrapper">SUBMIT </span
        ><span
          matripple=""
          class="mat-ripple mat-button-ripple"
          ng-reflect-disabled="false"
          ng-reflect-centered="false"
          ng-reflect-trigger="[object HTMLButtonElement]"
        ></span
        ><span class="mat-button-focus-overlay"></span>
      </button>
    </form>
  </mat-card>
</section>
